In [10]:
import pandas as pd

In [11]:
dfs = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30]], columns=['A', 'B', 'C'])
print(dfs.columns)
print('At third row under col B: '+str(dfs.at[2,'B']))

Index(['A', 'B', 'C'], dtype='object')
At third row under col B: 20

In [12]:
df = pd.read_csv('../data/50_startups.csv')
df.head(10)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [13]:
#df.isna()
#df.dropna()
df[df['State']=='New York']

    R&D Spend  Administration  Marketing Spend     State     Profit
0   165349.20       136897.80        471784.10  New York  192261.83
3   144372.41       118671.85        383199.62  New York  182901.99
5   131876.90        99814.71        362861.36  New York  156991.12
8   120542.52       148718.95        311613.29  New York  152211.77
15  114523.61       122616.84        261776.23  New York  129917.04
17   94657.16       145077.58        282574.31  New York  125370.37
19   86419.70       153514.11             0.00  New York  122776.86
21   78389.47       153773.43        299737.29  New York  111313.02
24   77044.01        99281.34        140574.81  New York  108552.04
27   72107.60       127864.55        353183.81  New York  105008.31
29   65605.48       153032.06        107138.38  New York  101004.64
31   61136.38       152701.92         88218.23  New York   97483.56
35   46014.02        85047.44        205517.64  New York   96479.51
38   20229.59        65947.93        185265.10  New York   81229.06
43   15505.73       127382.30         35534.17  New York   69758.98
45    1000.23       124153.04          1903.93  New York   64926.08
48     542.05        51743.15             0.00  New York   35673.41

In [14]:
print ("Cal. company with R&D Spend over 100K")
df[(df['R&D Spend'] > 100000) & (df['State'] == 'California' )]

Cal. company with R&D Spend over 100K

    R&D Spend  Administration  Marketing Spend       State     Profit
1   162597.70       151377.59        443898.53  California  191792.06
6   134615.46       147198.87        127716.82  California  156122.51
9   123334.88       108679.17        304981.62  California  149759.96
11  100671.96        91790.61        249744.55  California  144259.40

### create numpy array from Pandas dataframe

In [15]:
np_array = df.get_values()
np_array.shape

(50, 5)

### filter array based on rows/cols selection

In [23]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1:].values

In [27]:
X[:5]

array([[165349.2, 136897.8, 471784.1, 'New York'],
       [162597.7, 151377.59, 443898.53, 'California'],
       [153441.51, 101145.55, 407934.54, 'Florida'],
       [144372.41, 118671.85, 383199.62, 'New York'],
       [142107.34, 91391.77, 366168.42, 'Florida']], dtype=object)

In [28]:
y[:5]

array([[192261.83],
       [191792.06],
       [191050.39],
       [182901.99],
       [166187.94]])